/* 
style.css

Stylesheet for the Bookstore App

Authors: Jinzhe Li, Philippe Nadon, Keegan Petreman
*/
p {
  font-size: 30px;
  margin: 10px 5%;
  width: 90%;
  height: auto;
  font-family: sans-serif, "Open Sans", Arial;
}

#summary_section p {
  font-size: 24px;
}

.summary_child p{
  font-size: 26px;
  margin: 2% 0;
  width: 100%;
  height: auto;
  font-family: sans-serif, "Open Sans", Arial;
}

h1{
  font-family: "DIN Pro Bold", sans-serif;
  color: #3d4a43;
  font-size: 44px;
  margin: 10px 5%;
  width: 90%;
  height: auto;
  font-family: sans-serif, "Open Sans", Arial;
}

header h2 {
  margin: 0;
  color: #eee;
  font-size: 30px;
  white-space: nowrap;
  text-align: left;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif, "Open Sans", Arial;
  padding: 0;
}

.summary_parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  }

  
  .summary_div1 { grid-area: 1 / 2 / 2 / 3; }
  .summary_div2 { grid-area: 2 / 2 / 3 / 3; }
  .summary_div3 { grid-area: 3 / 2 / 4 / 3; }
  .summary_div4 { grid-area: 4 / 2 / 5 / 3; }
  .summary_div5 { grid-area: 5 / 2 / 6 / 3; }

.grid-container {
  display: grid;
  width:50%;
  grid-row-gap: 5%;
  grid-template-columns: auto;
}

.grid-item {
  text-align: center;
}

html{
  height:100%;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

p.pos_fixed {
  position: fixed;
  top: 50px;
  right: 50px;
}
textarea {
  margin: 10px 5%;
  width: 90%;
  height: 100px;
  font-size: 30px;
  font-family: sans-serif, "Open Sans", Arial;
}

input {
  margin: 5%;
  width: 80%;
  display: block;
  font-size: 30px;
  font-family: sans-serif, "Open Sans", Arial;
}

select {
  margin: 10px 5%;
  width: 90%;
  height: 50px;
  font-size: 30px;
  font-family: sans-serif, "Open Sans", Arial;
}

body {
  margin: 100px 0;
  background-color: #eeeeee;
  position: relative;
}

header {
  border-bottom: 3px solid #ffdb05;
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  align-items: center;
  max-height: 100px;
  height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  align-items: center;
  background: transparent url("./images/banner-bg.svg") center center;
  background-color: transparent;
  background-position-x: center;
  background-position-y: center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: url("./images/banner-bg.svg");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

.welcome {
  padding: 0 20px;
  margin: 0;
  padding: 0;
}

header ul {
  list-style-type: none;
  padding: 0 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-family: sans-serif, "Open Sans", Arial;
}

/* Adapted from eClass */
.menu_btn {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(248, 249, 250);
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  border-bottom-style: solid;
  border-bottom-width: 0.616667px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(248, 249, 250);
  border-left-style: solid;
  border-left-width: 0.616667px;
  border-right-color: rgb(248, 249, 250);
  border-right-style: solid;
  border-right-width: 0.616667px;
  border-top-color: rgb(248, 249, 250);
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
  border-top-style: solid;
  border-top-width: 0.616667px;
  box-shadow: rgba(75, 75, 75, 0.3) 0px 1px 1px 0px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  cursor: pointer;
  display: block;
  float: left;
  font-family: sans-serif, "Open Sans", Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 3.5px;
  margin-top: 0px;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  text-align: center;
  text-transform: none;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: button;
  outline: none;
}

.menu_btn:hover {
  box-shadow: rgba(75, 75, 75, 0.3) 2px 2px 3px 0;
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  text-decoration: none;
}

.menu_btn:not(:disabled):active {
  cursor: pointer;
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
  background-image: none;
  box-shadow: 2px 2px 3px 0 rgba(75, 75, 75, 0.3);
}

.menu_btn:not(:disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.menu_btn:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

div.sidediv {
  width: 50%;
  height: 100%;
  position: relative;
}

.wrapper {
  display: none;
  margin-bottom: 110px;
}

.welcome_wrapper {
  display: -webkit-box;
  margin-bottom: 110px;
}

.left {
  width: 50%;
  height: auto;
  position: relative;
}
.right {
  width: 50%;
  height: 100%;
  position: relative;
}

#welcome_box {
  position: relative;
}
#welcome_child {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

#summary_box {
  position: relative;
}
#summary_child {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 110px;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

header#footer {
  border-top: 3px solid #ffdb05;
  border-bottom: none;
  bottom: 0;
  top: auto;
  display: flex;
}

header#footer ul {
  list-style: inside;
  display: table;
  justify-content: center;
  margin: 0 auto;
}

textarea:hover {
  cursor: text;
}

text:hover {
  cursor: text;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.jumbotron {
  height: auto;
  display: inline-block;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  padding: 0;
  position: relative;
  -webkit-box-shadow: 13px 13px 9px 0px rgba(0,0,0,0.3);
  box-shadow: 13px 13px 9px 0px rgba(0,0,0,0.3);
  background-color: white;
  width: 42.5%;
  border-radius: 5px;
  padding: 0;
  top: 0;
}

form {
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  font-size: 25px;
  display: block;
}

label {
  font-family: sans-serif, "Open Sans", Arial;
  font-size: 25px;
  font-weight: 400;
}

input:focus {
  border: 3px solid #555;
}

h2 {
  font-family: "DIN Pro Bold", sans-serif;
  color: #3d4a43;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
}

input.welcome_input{
  font-family: sans-serif, "Open Sans", Arial;
  font-size: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#welcome_new, #welcome_load {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-top: 2%;
  justify-content: center;
  float: none;
  display: initial;
}

.welcome_btn {
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(0, 124, 65);
  background-image:none;
  background-origin:padding-box;
  background-position-x:0%;
  background-position-y:0%;
  background-size:auto;
  border-bottom-color:rgb(255, 255, 255);
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom-style:none;
  border-bottom-width:0px;
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-left-color:rgb(255, 255, 255);
  border-left-style:none;
  border-left-width:0px;
  border-right-color:rgb(255, 255, 255);
  border-right-style:none;
  border-right-width:0px;
  border-top-color:rgb(255, 255, 255);
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-top-style:none;
  border-top-width:0px;
  box-shadow:none;
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  cursor:pointer;
  display:inline-block;
  font-family:sans-serif;
  font-size:18px;
  font-weight:700;
  height:51.8182px;
  line-height:13px;
  margin-bottom:5px;
  margin-left:0px;
  margin-right:0px;
  margin-top:5px;
  overflow-x:visible;
  overflow-y:visible;
  position:relative;
  text-align:center;
  text-shadow:none;
  text-size-adjust:100%;
  transition-delay:0s;
  transition-duration:0.1s;
  transition-property:all;
  transition-timing-function:ease-in;
  width:197.457px;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:rgba(0, 0, 0);
  margin-top: 0;
}

.welcome_btn:hover:not(:disabled) {
  background: #06BA76;
  cursor: pointer;
}

.welcome_btn:disabled {
  opacity: 50%;
}

.welcome_btn:disabled{
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

#comment_section {
  display: none;
  margin-right: 5%;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#comment_section textarea {
  height: 250px;
}

#summary_section, #thanks_section {
  display: none;
  margin-right: 5%;
  margin-right: 5%;
  width: 90%;
  padding-top: 2%;
}

#thanks_btns {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

#submit_btn {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-top: 2%;
  justify-content: center;
  float: none; 
  padding: 0;
  text-align: center;
}

.jumbotron_select {
  padding: 2%;
  height: 100%;
}

.jumbotron_image {
  padding: 2%;
  margin-right: 5%;
  align-items: center;
  height: 100%;
}

#footer #nav{
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: table;
  flex: 1;
}

#footer #nav li {
  display: inline;
}

#price_display {
  right: 0;
  display: flex;
  margin-right: 0;
}
