/* 
style.css

Stylesheet for the Bookstore App

Authors: Jinzhe Li, Philippe Nadon, Keegan Petreman
*/
p {
  font-size: 30px;
  margin: 10px 5%;
  width: 90%;
  height: auto;
  font-family: sans-serif, "Open Sans", Arial;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

p.pos_fixed {
  position: fixed;
  top: 50px;
  right: 50px;
}
textarea {
  margin: 10px 5%;
  width: 90%;
  height: 100px;
  font-size: 30px;
  font-family: sans-serif, "Open Sans", Arial;
}

input {
  margin: 5%;
  width: 80%;
  font-size: 30px;
  font-family: sans-serif, "Open Sans", Arial;
}

select {
  margin: 10px 5%;
  width: 90%;
  height: 50px;
  font-size: 30px;
  font-family: sans-serif, "Open Sans", Arial;
}

body {
  margin: 110px 0;
  background-color: white;
}

header {
  border-bottom: 3px solid #ffdb05;
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  align-items: center;
  max-height: 200px;
  height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  background: transparent url("./images/banner-bg.svg") center center;
  background-color: transparent;
  background-position-x: center;
  background-position-y: center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: url("./images/banner-bg.svg");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

.welcome {
  padding: 0 20px;
  margin: 0;
  padding: 0;
}

header ul {
  list-style-type: none;
  padding: 0 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-family: sans-serif, "Open Sans", Arial;
}

header li h2 {
  margin: 0;
  color: #eee;
  font-size: 30px;
  white-space: nowrap;
  text-align: left;
  box-sizing: border-box;
  margin-left: 10px;
}

/* Adapted from eClass */
.menu_btn {
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(248, 249, 250);
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  border-bottom-style: solid;
  border-bottom-width: 0.616667px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(248, 249, 250);
  border-left-style: solid;
  border-left-width: 0.616667px;
  border-right-color: rgb(248, 249, 250);
  border-right-style: solid;
  border-right-width: 0.616667px;
  border-top-color: rgb(248, 249, 250);
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
  border-top-style: solid;
  border-top-width: 0.616667px;
  box-shadow: rgba(75, 75, 75, 0.3) 0px 1px 1px 0px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  cursor: pointer;
  display: block;
  float: left;
  font-family: sans-serif, "Open Sans", Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 3.5px;
  margin-top: 0px;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  text-align: center;
  text-transform: none;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: button;
  outline: none;
}

.menu_btn:hover {
  box-shadow: rgba(75, 75, 75, 0.3) 2px 2px 3px 0;
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  text-decoration: none;
}

.menu_btn:not(:disabled):active {
  cursor: pointer;
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
  background-image: none;
  box-shadow: 2px 2px 3px 0 rgba(75, 75, 75, 0.3);
}

.menu_btn:not(:disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.menu_btn:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

div.sidediv {
  border: 1px solid black;
  width: 50%;
  height: auto;
  position: relative;
}

.wrapper {
  display: none;
}

.welcome_wrapper {
  display: -webkit-box;
}

.left,
.right {
  border: 1px solid #000;
  width: 50%;
  height: auto;
  position: relative;
}

#welcome_box {
  position: relative;
}
#welcome_child {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

header#footer {
  border-top: 3px solid #ffdb05;
  border-bottom: none;
  bottom: 0;
  top: auto;
  display: flex;
}

header#footer ul {
  list-style: inside;
  display: table;
  justify-content: center;
  margin: 0 auto;
}

textarea:hover {
  cursor: text;
}

text:hover {
  cursor: text;
}
